:local {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }

  .header {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .map {
    margin-top: 2rem;
    height: 30rem;
    width: 100%;
  }

  .buttonGroup {
    margin-top: 1rem;
  }
}