:local {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }

  .header {
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .map {
    margin-top: 2rem;
    height: 33rem;
    width: 100%;
  }

  .buttonGroup {
    margin-top: 1rem;
  }

  .activeCrisisListTableContainer {
    margin-top: 2rem;
  }

  .subHeader {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .activeCrisisListTable {
    margin-top: 1.5rem;
  }
}