:global {
  .login-form {
    max-width: 300px;
    margin: auto !important; // override
    text-align: left;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}

:local {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }

  .header {
    font-size: 2rem;
    // font-weight: bold;
    margin-top: 2rem;
  }

  .form {
    margin-top: 2rem;
  }
}